<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="{{ .Site.BaseURL }}"><h1>{{ .Site.Title }}</h1></a>
    </div>

    <ul class="sidebar-nav">
      {{ range .Site.Menus.main }}
        <li><a href="{{.URL}}"> {{ .Name }} </a></li>
      {{end}}
      <li><a href="mailto:mike@mike.place"><i title="Email" class="fa fa-envelope fa-fw"></i>
              <span class="sidebar-list-text">mike@mike.place</span></a></li>
      <li><a href="https://github.com/williamsmj/"><i title="Github" class="fa fa-github fa-fw"></i>
              <span class="sidebar-list-text">Github</span></a></li>
      <li><a href="https://twitter.com/mikepqr"><i title="Twitter" class="fa fa-twitter fa-fw"></i>
              <span class="sidebar-list-text">Twitter</span></a></li>
      <li><a href="https://pinboard.in/u:mike"><i title="Pinboard bookmarks" class="fa fa-bookmark fa-fw"></i>
              <span class="sidebar-list-text">Pinboard</span></a></li>
      <li><a
              href="https://scholar.google.com/citations?user=MZ648iUAAAAJ&amp;hl=en"><i title="Google Scholar" class="fa fa-graduation-cap fa-fw"></i>
              <span class="sidebar-list-text">Google Scholar</span></a></li>
    </ul>

    <!-- <p>{{ with .Site.Params.copyright }}{{.}}{{ else }}&copy; {{ now.Format "2006"}}. All rights reserved. {{end}}</p> -->
  </div>
</div>
