<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="{{ .Site.BaseURL }}"><h1>{{ .Site.Title }}</h1></a>
    </div>

    <p>Mike Lee Williams is director of research at <a
         href="http://fastforwardlabs.com/">Fast Forward Labs</a></p>
    <ul class="sidebar-nav">
      {{ range .Site.Menus.main }}
        <li><a href="{{.URL}}"> {{ .Name }} </a></li>
      {{end}}
      <li><a href="mailto:mike@mike.place"><i class="fa fa-envelope fa-fw"></i>
              <span class="sidebar-list-text">mike@mike.place</span></a></li>
      <li><a href="https://github.com/williamsmj/"><i class="fa fa-github fa-fw"></i>
              <span class="sidebar-list-text">Github</span></a></li>
      <li><a href="https://twitter.com/mikepqr"><i class="fa fa-twitter fa-fw"></i>
              <span class="sidebar-list-text">Twitter</span></a></li>
      <li><a href="https://pinboard.in/u:mike"><i class="fa fa-bookmark fa-fw"></i>
              <span class="sidebar-list-text">Pinboard</span></a></li>
      <li><a href="https://scholar.google.com/citations?user=MZ648iUAAAAJ&amp;hl=en"><i class="fa fa-graduation-cap fa-fw"></i>
              <span class="sidebar-list-text">Google Scholar</span></a></li>
    </ul>

    <!-- <p>{{ with .Site.Params.copyright }}{{.}}{{ else }}&copy; {{.Now.Format "2006"}}. All rights reserved. {{end}}</p> -->
  </div>
</div>
