[submodule "static/talks/insight_2016"]
	path = static/talks/insight_2016
	url = git@github.com:williamsmj/insight.git
[submodule "static/hammerlab_2016"]
	path = static/talks/hammerlab_2016
	url = git@github.com:fastforwardlabs/hammerlab_2016.git
[submodule "static/talks/ffl_research"]
	path = static/talks/ffl_research
	url = git@github.com:fastforwardlabs/talk_2016_04_research.git
[submodule "static/talks/ffl_summarization"]
	path = static/talks/ffl_summarization
	url = git@github.com:fastforwardlabs/talk_summarization.git
