[submodule "static/talks/astrohackny"]
	path = static/talks/astrohackny
	url = git@github.com:williamsmj/talk-20160517-astrohackny.git
[submodule "static/talks/insight"]
	path = static/talks/insight
	url = https://github.com/williamsmj/talk_20160601_insight
[submodule "static/talks/pygotham"]
	path = static/talks/pygotham
	url = git@github.com:fastforwardlabs/talk_summarization.git
[submodule "static/talks/warbyparker"]
	path = static/talks/warbyparker
	url = git@github.com:fastforwardlabs/talk_summarization.git
[submodule "static/talks/strata_nyc_2016"]
	path = static/talks/strata_nyc_2016
	url = git@github.com:fastforwardlabs/talk_summarization.git
[submodule "static/talks/plotcon_2016"]
	path = static/talks/plotcon_2016
	url = git@github.com:fastforwardlabs/talk_summarization.git
[submodule "static/talks/ppp"]
	path = static/talks/ppp
	url = /Users/mike/p/talks/2017-02-pp
