{{ partial "head.html" . }}
<body class="{{ .Site.Params.themeColor }}">

{{ partial "sidebar.html" . }}

<div class="content container">


<h2>Projects</h2>

  <div class="posts">
      <div class="list-item">
          <div class="list-date">2017-06-22</div>
          <div class="list-title"><a
                  href="https://www.oreilly.com/learning/probabilistic-programming-from-scratch">Probabilistic
                  programming from scratch</a> (for O'Reilly)</div>
      </div>
      <div class="list-item">
          <div class="list-date">2016-05-31</div>
          <div class="list-title"><a
                  href="https://www.oreilly.com/content/getting-started-with-deep-learning-using-keras-and-python-new/">Getting
                  Started with Deep Learning using Keras and Python</a> (for
              O'Reilly)</div>
      </div>

<h2>Talks</h2>

  <div class="posts">
      <div class="list-item">
          <div class="list-date">2019-09-14</div>
          <div class="list-title"><a href="/talks/fl">Federated Learning</a>,
              Strange Loop St Louis (<a
                  href="https://www.youtube.com/watch?v=VUINeZUAlx8">video</a>)</div>
      </div>
      <div class="list-item">
          <div class="list-date">2018-08-19</div>
          <div class="list-title"><a href="/talks/serverless">Serverless for data scientists</a>, PyBay San Francisco (<a href="https://www.youtube.com/watch?v=9PR2-ogB5qM">video</a>, <a href="https://github.com/williamsmj/serverless-for-data-scientists">code</a>)</div>
      </div>
      <div class="list-item">
          <div class="list-date">2018-06-28</div>
          <div class="list-title"><a href="/talks/ppscratch">Probabilistic programming from scratch</a>, QCon NYC (<a href="https://www.infoq.com/presentations/pymc3">video</a>)</div>
      </div>
      <div class="list-item">
          <div class="list-date">2018-04-11</div>
          <div class="list-title"><a
                  href="https://www.infoq.com/presentations/ml-interpretability-lime">Interpretable machine learning products</a>, QCon.ai, San Francisco (<a href="https://www.infoq.com/presentations/ml-interpretability-lime">video</a>)</div>
      </div>
      <div class="list-item">
          <div class="list-date">2017-03-06</div>
          <div class="list-title"><a href="/talks/ppp/#p1">Probabilistic programming products</a>, Bayesian Mixer London</div>
      </div>
      <div class="list-item">
          <div class="list-date">2016-11-15</div>
          <div class="list-title">
              <a href="/2016/wordcloud/">Beyond the word cloud</a>, Plotcon NYC (<a href="https://www.youtube.com/watch?v=u6f0d5-C6o0">video</a>)
          </div>
      </div>
      <div class="list-item">
          <div class="list-date">2016-07-16</div>
          <div class="list-title">
              <a href="/talks/pygotham/#p1">Summarizing documents</a>, PyGotham NYC (<a href="https://www.youtube.com/watch?v=y7XoypvQRhY">video</a>)
          </div>
      </div>
      <div class="list-item">
          <div class="list-date">2015-09-30</div>
          <div class="list-title"><a href="/talks/strata_sanjose_2016/strata_sanjose_2016.pdf">Privilege and supervised machine learning</a> Strata NYC, Strata San Jose and Domino Data Popup Austin (<a href="https://vimeo.com/163292139">video</a>, <a href="https://www.youtube.com/watch?v=1ui84CSu3S0">interview</a>)</div>
      </div>
  </div>


<h2>Posts</h2>

<div class="posts">

  {{ range .Site.RegularPages }}
    {{ if eq .Type "post"}}
      <div class="list-item">
          <div class="list-date">{{ .Date.Format "2006-01-02" }}</div>
          <div class="list-title"><a href="{{ .Permalink }}">{{ .Title }}</a></div>
      </div>
    {{ end }}
  {{ end }}
  
</div>

</div>
{{ partial "foot.html" . }}
</body>
</html>
